.ball {
    --x: 50;
    --y: 50;
    position: absolute;
    background-color: green;
    width: 2.5vh;
    height: 2.5vh;
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    transform: translateY(-50%, -50%);
    border-radius: 100%;
}