.paddle {
    &.left {
        left: 3vw;
    }
    &.right {
        right: 3vw;
    }
}

.paddle {
    --position: 50;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 1vh;
    height: 10vh;
    top: calc(var(--position) * 1vh);
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: 2px;
    transform: translateY(-50%);
    &.beated {
        background-color: rgb(49, 49, 12);
    }
}