.notification {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20vw;
    height: 100vh;
    position: fixed;
    right: 3vw;
    bottom: 3vw;
    gap: 1em;
    z-index: -3;
    transition: 1s ease;
    .toast {
        display: flex;
        flex-direction: row;
        color: #fff;
        font-family: "VT323", monospace;
        border: 1px dashed white;
        padding: 1em;
        transition: 1s ease;
        animation: appear 1s ease;
        @keyframes appear {
            from {
                opacity: 0;
                transform: translateX(100%);
            }
            to {
                opacity: 1;
                transform: translateX(0%);
            }
        }
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
            font-size: 2rem;
            position: relative;
        }
        .body-notification {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 85%;
            padding: 0.5em;
            h1 {
                font-weight: lighter;
                margin: 0;
            }
            span {
                color: rgb(236, 222, 222);
            }
        }
    }
}
